.produtos {
    margin-bottom: 8em;
}

.linhas-1 {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto 6em;
    padding-top: 6em;
}

.linha-esquerda-1,
.linha-direita-1 {
    width: 35% ;
    border: 4px solid var(--cor4);
    border-radius: 5px;
}

.produtos__titulo-1 {
    text-align: center;
    color: var(--cor3);
    font-size: 1.5em;
}

.produtos__card {
    display: flex;
    justify-content: space-evenly;
}

.produtos__card-item {
    background-color: var(--cor3);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.produtos__card-item-img {
    width: 85%;
    margin: 1.5em 0em;
}

.produtos__card-item-titulo {
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 1.5rem;
}

.produtos__card-item-texto {
    width: 85%;
    font-weight: 300;
    color: var(--cor1);
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 5em;
}

.pedido__card-rodape {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.produto__card-rodape-preco {
    font-weight: 700;
    font-size: 1.6em;
}

.produto__card-rodape-pedir {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--cor4);
    padding: 1em;
    border-radius: .8em;
    box-shadow: 2px 2px 10px black;
}

.produto__card-rodape-pedir:hover {
    background-color: black;
    transition: 300ms;
}

